*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 body{
    margin: auto;
     background: #cecece;
 }

.container-main{
    width: 100%;
    display: grid;
    grid-template-columns: auto  ;
    grid-template-areas: "group1 group1 group2 group5"
                         "group3 group4 group4 group5"   ;
     margin: auto;
    box-sizing: border-box;

}
.bloco{
    margin: 5px;
    padding: 10px;

}
.foto-usuario{
    display:flex;
    
}
.foto-usuario img{
    width: 56px;
    border-radius: 50px;
}
.group1{
    grid-area: group1;
    background: hsl(263, 55%, 52%);
    color: #fff;
    border-radius: 8px;
    height: 300px;
}

.group2{
    grid-area: group2;
    background: #414158;
    height: 300px;
    color: #fff;
    border-radius: 8px;
}
.group3{
    grid-area: group3;
    height: 300px;
    background:#fff ;
    border-radius: 8px;
}
.group4{
    grid-area: group4;
    border: 1px solid;
    background: #000;
    color: #fff;
    height: 300px;
    border-radius: 8px;
}
.group5{
    grid-area: group5;
    background: #fff;
    width: auto;
    height: 610px;
    border-radius: 8px;
}
.titulo{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: center;
}
.titulo p{
    color: hsl(0, 0%, 81%) ;
}
.subtitulo{

    padding: 10px;
    margin-top: 20px;
}
.subtitulo h3{

    margin: 10px;
}